:root
{
    --db: #051923;
    --mb: #003554;
    --b: #006494;
    --lb: #1582ca;
    --w: #bfdfff;
    --transition-time: .08s;
}

html
{
    margin: 0;
    padding: 0;
    background: var(--lb);
    height: 100%;
    transition: var(--transition-time);
}
header
{
    background: var(--db);
    width: 100%;
    height: auto;
    font-size: 17px;
    padding: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--db);
    display: flex;
    align-items: center;
    transition: var(--transition-time);
    z-index: 1;
}
#header
{
    z-index: 1;
}
.title
{
    width: 100%;
    margin-left: 10px;
    z-index: 3;
    pointer-events: none;
}

body
{
    width: auto;
    min-height: 100%;
    margin: 0px 0px;
    padding: 0;
    border: 1px solid black;
    background: var(--mb);
    transition: var(--transition-time);
    z-index: 1;
}
#canvas
{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    pointer-events: all;
}
.main
{
    display: flex;
}
.news
{
    width: 60vw;
}
.article
{
    padding: 0;
}

h1
{
    color: var(--w);
    font-size: xx-large;
}


p, h2, li
{
    color: var(--w);
    font-size: x-large;
}
a
{
    color: var(--w);
} 
article
{
    padding: auto;
    margin: 10px 30px;
}
input
{
    color: var(--w);
    background-color: var(--db);
    border-color: var(--w);
    border-style: solid;
    border-radius: 15px;
    font-size: x-large;
    font-family: serif;
}
button
{
    color: var(--w);
    background-color: var(--db);
    border-color: var(--w);
    border-radius: 12px;
    font-size: x-large;
    font-family: serif;
}
.theme
{
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    z-index: 3;
}

.theme input
{
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 3;
}

.slider
{
    margin-right: 10px;
    position: absolute;
    cursor: pointer;
    border-radius: 14px;
    top: 0;
    left: -20px;
    bottom: 0;
    right: 0;
    background-color: var(--lb);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 3;
}

.slider:before
{
    position: absolute;
    content: "";
    border-radius: 40%;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--w);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 3;
}

input:checked + .slider {
    background-color: var(--b);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--mb);
}
  
input:checked + .slider:before 
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#language
{   
    width: 8vw;
    height: 6vh;
    font-size: large;
}
.nav
{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--db);
    transition: var(--transition-time);
}
.nav li
{
    position: inherit;
    float: left;
    z-index: 3;
    padding: 0;
}

.nav li a
{
    position: inherit;
    display: block;
    color: var(--w);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: var(--transition-time);;
}

.nav li a:hover
{
    background-color: var(--b);
}

.current
{
    background-color: var(--mb);
}
.current:hover
{
    background-color: var(--mb);
}
@media screen and (max-width: 768px) {
    html {
        background: var(--lb);
    }
    
    header {
        width: 100%;
        height: auto;
        font-size: 15px;
        padding: 0 0 auto;
        margin-left: auto;
        margin-right: auto;
        border: none;
        display: flex;
        align-items: center;
    }
    
    body {
        width: auto;
        min-height: 100%;
        padding: 0;
        background: var(--mb);
    }
    
    .main {
        display: block;
    }
    .news {
        width: 95vw;
    }
    .article {
        padding: 10px;
    }
}